* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background-color: white;
  max-width: 100%;
  height: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.imageMobile {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  block-size: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: contain;
}
.imageDesktop {
  display: none;
}
.text {
  padding: 5%;
}
.perfume {
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
  font-family: montserrat;
}
h1 {
  color: hsl(212, 21%, 14%);
  margin-top: 0.8rem;
  margin-bottom: 1.7rem;
  font-family: fraunces;
}
.description {
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
  font-family: montserrat;
}
h2 {
  margin: 0.8rem 0;
  color: hsl(158, 36%, 37%);
  font-family: fraunces;
}
h3 {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
.priceContainer {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.button {
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: hsl(158, 36%, 37%);
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 20px;
}
.button:hover {
  cursor: pointer;
}
.cart {
  margin-right: 0.8rem;
}
.add-to-cart {
  color: white;
  font-size: 1rem;
}

@media (min-width: 56rem) {
  .container {
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 44rem;
    align-items: center;
    justify-content: center;
    height: 30em;
    border-radius: 0.8em 0.8em;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .imageMobile {
    display: none;
  }
  .imageDesktop {
    border-radius: 0.8rem 0 0 0.8rem;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    block-size: 100%;
    object-fit: contain;
  }
}
.description {
  font-size: 1.5rem;
}
.priceContainer {
  display: flex;
  align-items: center;
}
